<div id="content">
    <div class="container-fluid">
      
      <div class="card card-table-sm mt-3">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h4>VULNERABILITIES KNOWLEDGE BASE</h4>
                </div>
                <div class="col-8">
                  <div class="d-flex justify-content-end ">
                      <form class="form-inline" method="GET" id="searchForm">
                        <input type="text" name="search" class="form-control bg-light border-0 small" 
                          placeholder="Search for..." {% if search %}value="{{ search }}"{% endif %} id="searchField">
                        <button class="btn btn-primary" type="submit">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </form>
                  </div>
                </div>
            </div>
        </div>
  
          <div class="card-body card-tableless">
              <table class="table table-border"
                    id="kbVmdrTable"
                    data-toggle="table"
                    data-ajax="ajaxRequest"
                    data-unique-id="qid"
                    data-virtual-scroll="true"
                    data-pagination="true"
                    data-side-pagination="server"
                    data-pagination-pre-text="<img src='/design-system/static/assets/ico/arrow_left.svg'>"
                    data-pagination-next-text="<img src='/design-system/static/assets/ico/arrow_right.svg'>"
              >
                  <thead class="thead-light">
                      <tr>
                        <th scope="col" data-sortable="true" data-field="qid">QID</th>
                        <th scope="col" data-field="data.severity">Severity</th>
                        <th scope="col" data-formatter="linkFormatter" data-field="data.title">Title</th>
                      </tr>
                  </thead>
              </table>
          </div>
        </div>
    </div>
  </div>